{% extends "multitenancy/admin/base.html" %}
{% load bootstrap4 %}

{% block page_title %}Create Tenant Template{% endblock page_title %}

{%block breadcrumbs%}
<li class="breadcrumb-item " ><a href="{% url 'template_list' %}">Templates</a></li>

<li class="breadcrumb-item active">Create Tenant Templates</li>
{% endblock%}


{% block main_content %}
<div class="row justify-content-center">
    <div class="col-12">
      <h2 class="page-title">Form elements</h2>
      <p class="text-muted">Demo for form control styles, layout options, and custom components for creating a wide variety of forms.</p>
      <div class="card shadow mb-4">
        <div class="card-header">
          <strong class="card-title">Form controls</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="simpleinput">Text</label>
                <input type="text" id="simpleinput" class="form-control">
              </div>
              <div class="form-group mb-3">
                <label for="example-email">Email</label>
                <input type="email" id="example-email" name="example-email" class="form-control" placeholder="Email">
              </div>
              <div class="form-group mb-3">
                <label for="example-password">Password</label>
                <input type="password" id="example-password" class="form-control" value="password">
              </div>
              <div class="form-group mb-3">
                <label for="example-palaceholder">Placeholder</label>
                <input type="text" id="example-palaceholder" class="form-control" placeholder="placeholder">
              </div>
            </div> <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="example-helping">Helping text</label>
                <input type="text" id="example-helping" class="form-control" placeholder="Input with helping text">
                <span class="help-block"><small>A block of help text that breaks onto a new line.</small></span>
              </div>
              <div class="form-group mb-3">
                <label for="example-readonly">Readonly</label>
                <input type="text" id="example-readonly" class="form-control" readonly="" value="Readonly value">
              </div>
              <div class="form-group mb-3">
                <label for="example-disable">Disabled</label>
                <input type="text" class="form-control" id="example-disable" disabled="" value="Disabled value">
              </div>
              <div class="form-group mb-3">
                <label for="example-static">Static control</label>
                <input type="text" readonly="" class="form-control-plaintext" id="example-static" value="j@example.com">
              </div>
            </div>
          </div>
        </div>
      </div> <!-- / .card -->
     
        
        
        
       
  </div>
{% comment %} 
<!-- Main content -->
<section class="content">
    <div class="container text-dark">
        <form method="POST" enctype="multipart/form-data">

            <!-- Security token -->
            {% csrf_token %}
        
            
            {% bootstrap_field form.name %}
            {% bootstrap_field form.slug %}
            {% bootstrap_field form.type %}
            
            
            <input type="submit" class="btn btn-info" value="Submit">
            <a class="btn btn-danger text-light" href="{% url "template_list" %}" >Cancel</a>
        </form>
        

    </div><!-- /.container-fluid -->
</section>
<!-- /.content --> {% endcomment %}
{% endblock main_content %}

{%block custom_js%}

{%endblock%}