{% extends "multitenancy/admin/base.html" %}
{% load static %}

{% block page_title %}Manage Templates{% endblock page_title %}
{%block breadcrumbs%}

<li class="breadcrumb-item active">Templates</li>
{% endblock%}


{% block main_content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        
        <div class="row">
            <div class="col-12">

                <div class="card text-dark">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md">
                            <h3 class="card-title">Templates</h3>
                            </div>
            
                            <div class="col-md">
                                <div class="mb-5 ">
                                    {% include "multitenancy/apps/includes/create_template_modal.html" %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="templates-table"
                            class="table table-bordered table-striped  table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>slug</th>
                                    <th>Type</th>
                                    <th>Created</th>
                                    <th>Modified</th>
                                    {% comment %} <th></th> {% endcomment %}
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock main_content %}

{% block custom_js %}
<script src="{% static "multitenancy/apps/js/templates.js" %}"></script>
{% endblock custom_js %}