{% load static %}
{% load multitenancy_tags %}
{% load i18n %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    {% get_company_details as details %}
    <title>Dashboard | {{ details.info.company_name }}</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="{% static 'admin/css/simplebar.css' %}">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static 'admin/css/feather.css' %}">
    <link rel="stylesheet" href="{% static "plugins/fontawesome/css/all.min.css" %}">

    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/sweetalert2/sweetalert2.min.css" %}">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="{% static 'admin/css/daterangepicker.css' %}">
    <!-- App CSS -->
    <link rel="stylesheet" href="{% static 'admin/css/app-light.css' id="lightTheme' %}">
    <link rel="stylesheet" href="{% static 'admin/css/app-dark.css' id="darkTheme' %}" disabled>
    <link rel="stylesheet" href="{% static 'admin/css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'admin/css/uppy.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/jquery.steps.css' %}">
    {% comment %} <link rel="stylesheet" href="css/jquery.timepicker.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'admin/css/quill.snow.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    {% block custom_css %}{% endblock %}
                {% block custom_head_js %}
                {% endblock custom_head_js %}
                {% block helpdesk_head %}{% endblock %}
  </head>
  <body class="vertical  light  ">
    <div class="wrapper">
      <nav class="topnav navbar navbar-light">
        <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
          <i class="fe fe-menu navbar-toggler-icon"></i>
        </button>
        <form class="form-inline mr-auto searchform text-muted">
          <input class="form-control mr-sm-2 bg-transparent border-0 pl-4 text-muted" type="search" placeholder="Type something..." aria-label="Search">
        </form>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="light">
              <i class="fe fe-sun fe-16"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-shortcut">
              <span class="fe fe-grid fe-16"></span>
            </a>
          </li>
          <li class="nav-item nav-notif">
            <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-notif">
              <span class="fe fe-bell fe-16"></span>
              <span class="dot dot-md bg-success"></span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="avatar avatar-sm mt-2">
                <img src="{% avatar_url user %}" alt="..." class="avatar-img rounded-circle">
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="#">Activities</a>
              <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fas fa-fw fa-sign-out-alt"></i>
                {% trans "Logout" %}</a>
            </div>
          </li>
        </ul>
      </nav>
      {% if user.type == 'Admin' %}
      {% include "multitenancy/admin/includes/sidebar.html" with user=user id=id %}
                    {% elif user.type == 'Staff' %}
                        {% include "multitenancy/admin/teamUser/includes/sidebar_template.html" with user=user id=id %}
                    {% else %}
                        {% include "clientportal/includes/sidebar.html" with user=user id=id %}
                    {% endif %}
      
      <main role="main" class="main-content">
        <div class="container-fluid">
           {% block main_content %}
                        {% endblock main_content %}
        </div> <!-- .container-fluid -->
        <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="list-group list-group-flush my-n3">
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-box fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Package has uploaded successfull</strong></small>
                        <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                        <small class="badge badge-pill badge-light text-muted">1m ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-download fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Widgets are updated successfull</strong></small>
                        <div class="my-0 text-muted small">Just create new layout Index, form, table</div>
                        <small class="badge badge-pill badge-light text-muted">2m ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-inbox fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Notifications have been sent</strong></small>
                        <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                        <small class="badge badge-pill badge-light text-muted">30m ago</small>
                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-link fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Link was attached to menu</strong></small>
                        <div class="my-0 text-muted small">New layout has been attached to the menu</div>
                        <small class="badge badge-pill badge-light text-muted">1h ago</small>
                      </div>
                    </div>
                  </div> <!-- / .row -->
                </div> <!-- / .list-group -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">Shortcuts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body px-5">
                <div class="row align-items-center">
                  <div class="col-6 text-center">
                    <div class="squircle bg-success justify-content-center">
                      <i class="fe fe-cpu fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Control area</p>
                  </div>
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-activity fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Activity</p>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-droplet fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Droplet</p>
                  </div>
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-upload-cloud fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Upload</p>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-users fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Users</p>
                  </div>
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-settings fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Settings</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingLabel" aria-hidden="true" >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body position-relative">
                <div class=" top-0 bg-white bottom-0 w-100 h-100 start-50 p-3   text-center">
                  <div class="spinner-border mr-3 text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <br><br>
            </div>
            </div>
          </div>
        </div>
      </main> <!-- main -->
    </div> <!-- .wrapper -->
    <script src="{% static 'admin/js/jquery.min.js' %}"></script>
    <script src="{% static 'admin/js/popper.min.js' %}"></script>
    <script src="{% static 'admin/js/moment.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/simplebar.min.js' %}"></script>
    <script src='{% static "admin/js/daterangepicker.js" %}'></script>
    <script src='{% static "admin/js/jquery.stickOnScroll.js" %}'></script>
    <script src="{% static 'admin/js/tinycolor-min.js' %}"></script>
    <script src="{% static 'admin/js/config.js' %}"></script>
    <script src="{% static 'admin/js/d3.min.js' %}"></script>
    <script src="{% static 'admin/js/topojson.min.js' %}"></script>
    <script src="{% static 'admin/js/datamaps.all.min.js' %}"></script>
    <script src="{% static 'admin/js/datamaps-zoomto.js' %}"></script>
    <script src="{% static 'admin/js/datamaps.custom.js' %}"></script>
    <script src="{% static 'admin/js/Chart.min.js' %}"></script>
    <script src='{% static "admin/js/uppy.min.js" %}'></script>
    <script src='{% static  "admin/js/quill.min.js" %}'></script>
    <script>
      /* defind global options */
      Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
      Chart.defaults.global.defaultFontColor = colors.mutedColor;
    </script>
    <script src="{% static 'admin/js/gauge.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'admin/js/apexcharts.min.js' %}"></script>
    <script src="{% static 'admin/js/apexcharts.custom.js' %}"></script>
    <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
                <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
                <script src="{% static "plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
                <script src="{% static "plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
                <script src="{% static "plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
    <script src="{% static 'admin/js/apps.js' %}"></script>
    <script src="{% static "plugins/sweetalert2/sweetalert2.all.min.js" %}"></script>
                <!-- SweetAlert2 -->
                {% load sweetify %}
                {% sweetify %}
                <!-- DataTables -->
                {% block custom_js %}
                {% endblock custom_js %}
   
  </body>
</html>